@-webkit-keyframes colorz {
  0%, 100% { color: #A94734; }
  16.6% { color: #D95B43; }
  33.3% { color: #ECD078; }
  50% { color: #A8DBA8; }
  66.6% { color: #088282; }
  83.3% { color: #A45ED8; }
}

@-moz-keyframes colorz {
  0%, 100% { color: #A94734; }
  16.6% { color: #D95B43; }
  33.3% { color: #ECD078; }
  50% { color: #A8DBA8; }
  66.6% { color: #088282; }
  83.3% { color: #A45ED8; }
}

@keyframes colorz {
  0%, 100% { color: #A94734; }
  16.6% { color: #D95B43; }
  33.3% { color: #ECD078; }
  50% { color: #A8DBA8; }
  66.6% { color: #088282; }
  83.3% { color: #A45ED8; }
}

html {
  min-height: 100%;
  background-image: url(background.jpg);
  background-size: cover;
  padding-bottom: 5rem;
}

#screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
}

h1 {
  -webkit-animation: colorz 10s infinite;
  -moz-animation: colorz 10s infinite;
  animation: colorz 10s infinite;
  text-align: center;
  width: 50%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 10rem;
  font-size: 48px;
  position: relative;
}

a {
  font-family: 'Open Sans', sans-serif;
  color: #A94734;
  text-transform: uppercase;
  font-size: 36px;
  width: 50%;
  margin: auto;
  margin-top: 5rem;
  text-align: center;
  display: block;
  font-weight: 800;
  position: relative;
}

a:hover {
  -webkit-animation: colorz 1s infinite;
  -moz-animation: colorz 1s infinite;
  animation: colorz 1s infinite;
}

@media (max-width: 30rem) {
  html {
    background-image: url(background-mobile.jpg);
  }

  h1 {
    margin-top: 2rem;
    font-size: 30px;
  }

  h1, a {
    width: 100%;
  }

  a {
    font-size: 20px;
    margin-top: 2rem;
  }
}